services:
  postgres-authentication-service:
    container_name: postgres-authentication-service
    hostname: postgres-authentication-service
    image: postgres:alpine3.17
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: authentication-service
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /data/postgres
    volumes:
      - data-authentication-service:/data/postgres

  authentication-service:
    container_name: authentication-service
    hostname: authentication-service
    image: twitterclone0/twitter-authentication-service:2.0.0
    pull_policy: missing
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-authentication-service:5432/authentication-service
    depends_on:
      - postgres-authentication-service
      - api-gateway

  mongo:
    container_name: mongo
    hostname: mongo
    image: mongo:jammy
    restart: unless-stopped
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo:/data/db

  profile-service:
    container_name: profile-service
    hostname: profile-service
    image: twitterclone0/twitter-profile-service:2.0.0
    restart: unless-stopped
    pull_policy: missing
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - mongo
      - api-gateway

  postgres-tweet-service:
    container_name: postgres-tweet-service
    hostname: postgres-tweet-service
    image: postgres:alpine3.17
    restart: unless-stopped
    ports:
      - 5431:5432
    environment:
      POSTGRES_DB: tweet-service
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /data/postgres
    volumes:
      - data-tweet-service:/data/postgres

  tweet-service:
    container_name: tweet-service
    hostname: tweet-service
    image: twitterclone0/twitter-tweet-service:2.0.0
    restart: unless-stopped
    pull_policy: missing
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-tweet-service:5432/tweet-service
    depends_on:
      - postgres-tweet-service
      - api-gateway

  api-gateway:
    container_name: api-gateway
    hostname: api-gateway
    image: twitterclone0/twitter-api-gateway:2.0.0
    restart: unless-stopped
    pull_policy: missing
    ports:
      - 8080:8080
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - discovery-server

  discovery-server:
    container_name: discovery-server
    image: twitterclone0/twitter-discovery-server:2.0.0
    hostname: discovery-server
    restart: unless-stopped
    pull_policy: missing
    ports:
      - 8761:8761
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - config-server
      - zipkin
      - redis

  config-server:
    container_name: config-server
    hostname: config-server
    image: twitterclone0/twitter-spring-cloud-config-server:2.0.0
    restart: unless-stopped
    pull_policy: missing
    ports:
      - 8888:8888

  storage-service:
    container_name: storage-service
    hostname: storage-service
    image: twitterclone0/twitter-storage-service:2.0.0
    restart: unless-stopped
    pull_policy: missing
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  timeline-service:
    container_name: timeline-service
    hostname: timeline-service
    image: twitterclone0/twitter-timeline-service:2.0.0
    restart: unless-stopped
    pull_policy: missing
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - api-gateway

  redis:
    container_name: redis
    image: redis:7.2-rc-alpine3.18
    hostname: redis
    restart: unless-stopped
    pull_policy: missing
    ports:
      - 6379:6379

  zipkin:
    container_name: zipkin
    image: openzipkin/zipkin
    hostname: zipkin
    restart: unless-stopped
    pull_policy: missing
    ports:
      - 9411:9411

volumes:
  data-authentication-service: { }
  mongo: { }
  data-tweet-service: { }
